body {
  margin: 0;
  padding: 0;
  background: url('https://i.postimg.cc/T1j1yJSR/file-000000000a4c61f8a35afcfbc46d0ecb.png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'EB Garamond', serif;
  color: #f5f5f5;
  text-align: center;
}

.container {
  padding-top: 10vh;
}

.logo {
  width: 150px;
  animation: float 3s ease-in-out infinite;
}

.enter-btn {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 25px;
  background-color: #8B0000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.enter-btn:hover {
  background-color: #a30000;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
